[Desktop Entry]
Name=upload
Comment=Upload the current state of the projects repository.
Exec="/home/coderdojo/projects/upload/upload.sh"
Type=Application
Terminal=false



